*{
  margin: 0;
  padding: 0;
}

.container{
  width: 70%;
  margin: 0 auto;
}
/* .container {
  padding: 40px 30px 10px 10px;
  margin-top: 40px;
} */
.logo {
  text-align: center;
}
.logo img {
  width: 260px;
}
input[type="text"],
input[type="password"] {
  border: medium none;
  padding: 6px;
  margin: 5px;
  border: 1px solid #cdcdcd;
  width: 100%;
  font-size: 12px;
  font-family: Arial, Tahoma;
}

.btn-vcb {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

button.vcb {
  background: #005596;
  line-height: 30px;
  width: 40%;
  cursor: pointer;
  border: none;
  font-family: Arial, Tahoma;
  font-size: 15px;
  color: #FFF;
}

.space {
  border-bottom: 1px #ccc dotted;
  margin: 22px;
}

span {
  line-height: 30px;
  color: #222;
}

span i {
  color: #71b441;
}
label {
  margin: 5px;
  font-weight: bold;
  font-family: Arial;
  font-size: 13px;
  color: #1c1b1b;
}
input[type="text"] {
  width: 86%;
  background: white url(https://ib.techcombank.com.vn/TCB/images/icons/login_user.png) left no-repeat;
  padding-left: 25px;
  float: left;
  color: #333333;
  line-height: 30px;
  border: none;
  border-bottom: 1px #ccc solid;
  margin: 10px;
}

input[type="password"] {
  width: 86%;
  background: white url(https://ib.techcombank.com.vn/TCB/images/icons/login_pass.png) left no-repeat;
  padding-left: 25px;
  float: left;
  color: #333333;
  line-height: 30px;
  border: none;
  border-bottom: 1px #ccc solid;
  margin: 10px;
}
form p {
  text-align: center;
  font-size: 18px;
  font-family: Arial;
  font-weight: bold;
  padding: 10px;
  color: #214099;
}
.reload {
  text-align: center;
}
.reload .forgot a,
.reload .restart a {
  text-decoration: none;
  color: #214099;
  text-align: center;
  line-height: 30px;
}

.image-bottom {
  text-align: center;
}
.image-bottom img {
  width: 100%;
}
input[type="checkbox"] {
    display: none;
}