*{
  margin: 0;
  padding: 0;
}

.container{
  width: 70%;
  margin: 0 auto;
}

.logo {
  text-align: center;
}

input[type="text"],
input[type="password"] {
  border: medium none;
  padding: 6px;
  margin: 5px;
  border: 1px solid #cdcdcd;
  width: 100%;
  font-size: 12px;
  font-family: Arial, Tahoma;
}

.btn-vcb {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

button.vcb {
  background: #71b441;
  line-height: 30px;
  width: 50%;
  cursor: pointer;
  border: none;
  font-family: Arial, Tahoma;
  font-size: 16px;
  color: #FFF;
}

.space {
  border-bottom: 1px #ccc dotted;
  margin: 22px;
}

span {
  line-height: 30px;
  color: #222;
}

span i {
  color: #71b441;
}
input[type="checkbox"] {
    display: none;
}